# Quartz & Node compilation targets
node_modules/
.quartz-cache/
.quartz/
public/
*.tsbuildinfo

# Environment and wrangler files
.env
.env.*
.wrangler/

# Temporary and backup files
*.log
*.tmp
*.bak

# Obsidian system files
.obsidian/

# OS junk
.DS_Store
Thumbs.db
